    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="ftr-iner">
                        <h3>Global Navigation</h3>
                        <hr style="border : 3px solid blue; width: 10%;">
                        <ul class="">
                            <li>
                                <a href="" class="ftr-link">Gallery</a>
                            </li>
                            <li>
                                <a href="/sitemap" class="ftr-link">Sitemap</a>
                            </li>
                            <li>
                                <a href="/company-profile#company-profile" class="ftr-link">Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="ftr-iner">
                        <h3>Contact Us</h3>
                        <hr style="border : 3px solid blue; width: 10%;">
                        <ul class="ftr-adrs">
                            <li class="ftr-link">
                                <span class="ftradrs-icn"><i class="fa-solid fa-location-dot"></i></span>
                                <a href="https://goo.gl/maps/v93F2B2EgfGET2Si6" class="ftr-link" target="_blank">
                                    infosoft Technologies <br> C/30, 1st Floor, Kishor Park Society, Behind St.Xavier's
                                    High
                                    School, Ghod Dod Road, Surat - 395001, Gujarat , India
                            </li>
                            <li class="ftr-link">
                                <span class="ftradrs-icn"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <a href="tel:+91 8511176717" class="ftr-link">+91 8511176717</a>
                            </li>
                            <li class="ftr-link">
                                <span class="ftradrs-icn"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <a href="mailto:info@infosofttechnologies.co" class="ftr-link">
                                    info@infosofttechnologies.co </a>
                            </li>
                        </ul>
                        <div class="social-menu">
                            <ul>
                                <li><a href="https://www.facebook.com/Infosofttechnologies" target="_blank"><i
                                            class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://api.whatsapp.com/send?phone=918511176717&app=facebook&entry_point=page_cta"
                                        target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="https://in.linkedin.com/in/imsaurabhdesai?original_referer=https%3A%2F%2Fwww.google.com%2F"
                                        target="_blank"><i class="fa-brands fa-linkedin"></i></a></li><br>
                                </li>
                            </ul>
                        </div>
                        <p style="margin-top: 100px;">Copyright © 2016 Infosofttechnologies. All rights
                            reserved. </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- End Footer -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <script src="js/index.js"></script>

</body>

</html>