<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infosoft Technologies</title>
    <!-- Bootstrap file links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">  </script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mob.css">
    <link rel="stylesheet" href="css/tab.css">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/NEW_Itech_Logo1.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>


    <!--  Above Nav Bar -->
    <div class="uper">
        <a href="mailto:info@infosofttechnologies.co" class="uper-link"> <img src="images/email.png ">
            info@infosofttechnologies.co &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; |</a>
        <a href="tel:+91 8511176717" class="uper-link"> <img src="images/phone-call.png"> +91 85111 76717 &nbsp; &nbsp;
            &nbsp;</a>
        <div class="uper-right">
            <a href="/career" class="uper-link">Career &nbsp; &nbsp; |</a>
            <a href="/contactus" class="uper-link">Contact Us</a>
        </div>
    </div>
    <!-- End Above Nav Bar -->



    <!-- start navbar -->

<div class="row">
    <div class="col-lg-8">
    <a href="/" class="navbar-brand"><img src="images/infosoft_logo.jpg" alt="infosoft_logo" class="logo"></a>
    </div>
    <div class="col-lg-4 nav-contant">
        <img src="images/infosoft_nsic.png" alt="infosoft_nsic" class="certified-img" width="100px">
        <img src="images/infosoft_iso (2).png" alt="infosoft_iso" class="certified-img" width="120px">
        <a href="https://www.google.com/search?q=infosoft+technologies&rlz=1C1CHBF_enIN995IN995&oq=info&aqs=chrome.1.69i57j35i39l2j69i60l5.2385j0j7&sourceid=chrome&ie=UTF-8#lrd=0x3be04e7a3381d1c1:0x7d5a48637d22afa0,1,,,"
            target="_blank"><img src="images/infosoft_google_reviews.png" class="certified-img" alt="infosoft_google_reviews" width="120px"></a>

    <button href="javascript:;" class="btn btn-toggler" data-bs-target="navbarNav" data-bs-toggle="collapse">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>

    </div>
    </div>
    <nav id="navbarNav">
        <ul>
            <li class="dropdown1">
                <a href="#dropdown" data-bs-toggle="collapse" data-bs-target="#dropdown"> <i
                        class="fa-solid fa-angle-left"></i>&nbsp; About</a>
                <section id="dropdown">
                    <ul>
                        <li><a href="/company-profile#company-profile">Company Overview</a></li>
                        <li><a href="/team#our-team">Team</a></li>
                        <li><a href="/recognition">Recognition</a></li>
                        <li><a href="/leadership">Leadership</a></li>
                        <li><a href="/vision">Vision</a></li>
                        <li><a href="/corporate-presentation">Corporate Presentation</a></li>
                        <li><a href="#">Work Culture</a></li>
                    </ul>
                </section>
            </li>

            <li class="dropdown2">
                <a href="#dropdown2" data-bs-toggle="collapse" data-bs-target="#dropdown2"> <i
                        class="fa-solid fa-angle-left"></i>&nbsp; What We Do</a>
                <section id="dropdown2">
                    <ul>
                        <li><a href="/services">It Audit Solution</a></li>
                        <li><a href="/services">It Skills Outsoarsing</a></li>
                        <li><a href="/services">It Consulting</a></li>
                        <li><a href="/services">Software Developing</a></li>
                        <li><a href="/services">Web Developing</a></li>
                        <li><a href="/services">Data Processing</a></li>
                    </ul>
                </section>
            </li>
            <li class="dropdown3">
                <a href="#dropdown3" data-bs-toggle="collapse" data-bs-target="#dropdown3"> <i
                        class="fa-solid fa-angle-left"></i>&nbsp; Product</a>
                <section id="dropdown3">
                    <ul>
                        <li><a href="/tally">Tally</a></li>
                        <li><a href="/tally-services">Tally Services</a></li>
                        <li><a href="/sap">SAP</a></li>
                    </ul>
                </section>
            </li>
            <li><a href="/industries">&nbsp; Industries</a></li>
            <li><a href="/technologies">&nbsp; Technology</a></li>
        </ul>
        <div class="vr"></div>
        <h1>Drive Business <br> Through Digital <br> Teansformation. </h1>

    </nav>
    <hr>

    <!-- End Navbar -->

    <button id="btnScrollToTop">
        <i class="fa-solid fa-angle-up"></i>
    </button>