<%- include("header") -%>

    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item carousel-item1 active" data-bs-interval="5000">
                <video class="img-fluid" autoplay loop muted>
                    <source src="images/infosoft_carousel1.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="carousel-item carousel-item1" data-bs-interval="5000">
                <video class="img-fluid" autoplay loop muted>
                    <source src="images/infosoft_carousel2.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="carousel-item carousel-item1" data-bs-interval="5000">
                <video class="img-fluid" autoplay loop muted>
                    <source src="images/infosoft_carousel3.mov" type="video/mp4" />
                </video>
            </div>

        </div>
        <a class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carousel" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- End Carousel -->

    <!-- Cards -->
    <div class="container">
        <div class="row">
            <div class="card text-white mb-3 card-1">
                <div class="card-body">
                    <img src="images/infosoft_aboutus.png" class="card-1-img" alt="infosoft_aboutus">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text"><b>INFOSOFT</b> is an MSME Company Certified by National Small
                        Industries Corporation (NSIC) <span class="readMeContent"></span>
                </div>
                <a href="" class="card-link">Read More <img src="images/arrow-right.png" alt="Right Arrow"> </a> </p>
            </div>

            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <img src="images/infosoft_vision.png" class="card-1-img" alt="vision">
                    <h5 class="card-title">Vision</h5>
                    <p class="card-text">Vision is to Best Practices in IT, We Have Set Up State High Tech Data
                        Processing.
                    </p>
                </div>
                <a href="" class="card-link">Read More <img src="images/arrow-right.png" alt="Right Arrow"> </a> </p>
            </div>

            <div class="card text-white mb-3 card-3 ">
                <div class="card-body">
                    <img src="images/infosoft_mission.png" class="card-1-img" alt="mission">
                    <h5 class="card-title">Mission</h5>
                    <p class="card-text">Driving Business through Digital Innovation for Seamless Business Operations.
                    </p>
                </div>
                <a href="" class="card-link">Read More <img src="images/arrow-right.png" alt="Right Arrow"> </a> </p>
            </div>

            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <img src="images/infosoft_team.png" class="card-1-img" alt="team">
                    <h5 class="card-title">Team</h5>
                    <p class="card-text">The Strong Team Work is their behind the success of INFOSOFT. We Focus on
                        Training.
                    </p>
                </div>
                <a href="" class="card-link">Read More <img src="images/arrow-right.png" alt="Right Arrow"> </a> </p>
            </div>


        </div>
    </div>

    <!-- End Cards -->


    <!-- Slider -->

    <div class="container">
        <h1 class="client-title">Our Clients</h1>
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="slider-card">
                            <img src="images/ddnewsguj.jpg" class="slider-img col-sm-4 col-4" alt="">
                            <img src="images/umed.jfif" class="slider-img col-sm-4 col-4" alt="">
                            <img src="images/mumbai-bank.png" class="slider-img col-sm-4 col-4" alt="">
                            <img src="images/GSECL.png" class="slider-img col-sm-4 col-4" alt="">

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="slider-card">
                            <img src="images/uti.webp" class="slider-img" alt="">
                            <img src="images/gujarat gas.png" class="slider-img" alt="">
                            <img src="images/amns india.jpg" class="slider-img" alt="">
                            <img src="images/Screenshot (4).png" class="slider-img" alt="">

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="slider-card">
                            <img src="images/ecfl.jpg" class="slider-img" alt="">
                            <img src="images/eci-logo.png" class="slider-img" alt="">
                            <img src="images/collector navsari.jpg" class="slider-img" alt="">
                            <img src="images/amns india.jpg" class="slider-img" alt="">
                        </div>
                    </div>
                </div>


            </div>
            <a class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" data-bs-target="#carousel1" type="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <!-- End Slider -->

    <%- include("footer") -%>
