<%- include("header") -%>



    <!-- Contant -->

    <div class="container">
        <section id="corporate-presiontation">
            <h1 class="about-title" >Corporate Presentation <img class="card-1-img" width="100px"
                    src="images/group.png"> </h1>
            <hr class="about-hr">

            <h3 style="color: #000;">You can Download Our Corporate presentation From Below Links : </h3><br><br><br>

            <h5><a href="Documentation/Company #_Updated_Ver 4.3.pdf"> Download as PDF Format </a></h5><br>
            <h5><a href="Documentation/Infosoft_Coroporate_ Presentation.pptx">Download as PPT Format</a></h5>

        </section>
    </div>

    <!-- End Contant -->


    <%- include("footer") -%>
