<%- include("header") -%>


    <div class="container">
        <h1 class="about-title">Career</h1>
        <hr>


        <!-- Content 1 -->

        <div class="career-card">
            <a type="button" data-bs-toggle="collapse" data-bs-target="#contant" aria-expanded="true">
                <div class="card-4">
                    <div class="card-title1">
                        ASP .Net Developer <i class="fa-solid fa-plus" style="float: right;"></i>
                    </div>
                    <div class="card-subtitle">No of Vacancy : 2</div>
                </div>
            </a>

            <section class="collapse" id="contant">
                <h5 class="career-h5">Skills :</h5>
                <li>Candidate should have a strong knowledge of OOPS.</li>
                <li>Experience with Microsoft .NET technologies including, ASP.NET, MVC, Entity Framework.</li>
                <li>Proven Skills with C#, SQL, JavaScript/DHTML, HTML-CSS, AJAX, jQuery, Web Services, etc.</li>
                <li>Ability to complete all phases of software development life cycle.</li>
                <li>Should have working knowledge of using a latest development tools and techniques.</li>
                <li>Basic knowledge of front end UI design preferred.</li>
                <li>Must have good problem solving and analytical skills.</li>

                <h5 class="career-h5">Critaria</h5>
                <li>Candidates with experience of 1-4 years with great problem-solving skills can apply</li>

                <h5 class="career-h5">Description</h5>
                <li>Independent Contributor with hands on technical delivery of assigned tasks, projects.</li>
                <li>Should provide valuable solutions and innovation in the area of work being assigned.</li>
                <li>Strong in collaborating effectively with the team.</li>
                <li>Quick learner – positive attitude to work under ambiguous situations.</li>

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#application-form">Apply
                    Now</button>

            </section>
        </div>
        <!-- End Contant 1 -->

        <!-- Contant 2 -->

        <div class="career-card">
            <a type="button" data-bs-toggle="collapse" data-bs-target="#contant2" aria-expanded="true">
                <div class="card-4">
                    <div class="card-title1">
                        React Js Developer <i class="fa-solid fa-plus" style="float: right;"></i>
                    </div>
                    <div class="card-subtitle">No of Vacancy : 2</div>
                </div>
            </a>

            <section class="collapse" id="contant2">
                <h5 class="career-h5">Skills :</h5>
                <li>Strong proficiency in JavaScript, object model, DOM manipulation and event handlers, data
                    structures, algorithms, JSX, and Babel</li>
                <li>Complete understanding of ReactJS and its main fundamentals like JSX, Virtual DOM, component
                    lifecycle, etc.</li>
                <li>Preceding experience with ReactJS workflows like Flux, Redux, Create React App, data structure
                    libraries</li>
                <li>Understanding of RESTful APIs/GraphQL, HTML/CSS, ES6 (variables and scoping, array methods), code
                    versioning tools like GIT, SVN, etc., popular frontend development tools, CI/CD tools, DevOps,
                    performance testing frameworks like Mocha, Node + NPM</li>
                <li>Preferred degree in Computer Science, Information Technology or similar</li>

                <h5 class="career-h5">Critaria</h5>
                <li>Master/Graduate in CS Engineering degree or any relevant degree</li>
                <li>Minimum 6 months work experience as a Trainee/Jr. React JS Developer</li>

                <h5 class="career-h5">Description</h5>
                <li>Leverage the inbuilt React toolkit for creating frontend features</li>
                <li>Create data visualization tools, libraries, and reusable code for prospects</li>
                <li>Integrate designs and wireframes within the application code</li>
                <li>Monitor interaction of users and convert them into insightful information.</li>
                <li>Write application interface code with JavaScript</li>
                <li>Enhance application performance with constant monitoring</li>
                <li>Translate wireframes and designs into good quality code</li>
                <li>Optimize components to work seamlessly across different browsers and devices</li>
                <li>Good understanding of CSS libraries, GIT, Sigma, Adobe XD etc.</li>
                <li>Proper user information authentication</li>

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#application-form">Apply
                    Now</button>

            </section>
        </div>

        <!-- End Contant 2 -->

        <!-- Contant 3 -->

        <div class="career-card">
            <a type="button" data-bs-toggle="collapse" data-bs-target="#contant3" aria-expanded="true">
                <div class="card-4">
                    <div class="card-title1">
                        PHP Developer <i class="fa-solid fa-plus" style="float: right;"></i>
                    </div>
                    <div class="card-subtitle">No of Vacancy : 2</div>
                </div>
            </a>

            <section class="collapse" id="contant3">
                <h5 class="career-h5">Skills :</h5>
                <li>Write effective, scalable code</li>
                <li>Develop back-end components to improve responsiveness and overall performance.</li>
                <li>Integrate user-facing elements into applications</li>
                <li>Test and debug programs</li>
                <li>Improve functionality of existing systems</li>
                <li>Implement security and data protection solutions</li>
                <li>Assess and prioritize feature requests</li>
                <li>Coordinate with internal teams to understand user requirements and provide technical solutions</li>

                <h5 class="career-h5">Critaria</h5>
                <li>Minimum hands on experience of 2 years working as a Python Developer</li>
                <li>Expertise in at least one popular Python framework (like Django,AI, Flask or Pyramid)</li>
                <li>Knowledge of object-relational mapping (ORM)</li>
                <li>Familiarity with front-end technologies (like JavaScript and HTML5)</li>
                <li>Team spirit</li>
                <li>Good problem-solving skills</li>
                <li>BSc in Computer Science, Engineering or relevant field</li>

                <h5 class="career-h5">Description</h5>
                <li>Great opportunity to lead young,energetic & result oriented team </li>

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#application-form">Apply
                    Now</button>

            </section>
        </div>

        <!-- End Contant 3 -->


        <!-- Application Form -->

        <form action="mailto:info@infosofttechnologies.co" method="post" enctype="text/plain" class="modal fade" id="application-form" role="dialog">
            <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Application Form</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Name</label>
                        <input type="name" name="name" class="form-control">

                        <label>E-mail</label>
                        <input type="email" name="email" class="form-control">

                        <label>Mobile No.</label>
                        <input type="number" name="mobile-no" class="form-control">

                        <label>Experience (In Month)</label>
                        <input type="text" name="experience" class="form-control">

                        <label>Expected Salary</label>
                        <input type="text" name="expected-salary" class="form-control">

                        <label>Upload Your CV</label>
                        <input type="file" name="cv" class="form-control">

                        <label>Message</label>
                        <textarea name="message"cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- End Application Form -->


    </div>




    <%- include("footer") -%>
