<%- include("header") -%>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="tally-prime-logo" src="images/infosoft_tally_logo.jpg" alt="infosoft_tally_logo">
            </div>
            <div class="col-lg-6">
                <h1 class="tally-h1">Tally Price List</h1>
                <p class="tally-p">* Contact us for Discount</p>
            </div>
        </div>

        <hr class="about-hr">

        <table>
            <tr>
                <th>Product</th>
                <th>Basic Amount</th>
                <th>SGST @ 9%</th>
                <th>CGST @ 9%</th>
                <th>Customer Price</th>
            </tr>
            <tr>
                <td>Shoper 9 Silver</td>
                <td>18,000</td>
                <td>1620</td>
                <td>1620</td>
                <td>21,240</td>
            </tr>
            <tr>
                <td>Shoper 9 Gold</td>
                <td>54,000</td>
                <td>4860</td>
                <td>4860</td>
                <td>63,720</td>
            </tr>
            <tr>
                <td>TallyPrime Silver</td>
                <td>18,000</td>
                <td>1620</td>
                <td>1620</td>
                <td>21,240</td>
            </tr>
            <tr>
                <td>TallyPrime Gold</td>
                <td>54,000</td>
                <td>4860</td>
                <td>4860</td>
                <td>63,720</td>
            </tr>
            <tr>
                <td>TallyPrime Server</td>
                <td>2,70,000</td>
                <td>24,300</td>
                <td>24,300</td>
                <td>3,18,600</td>
            </tr>
            <tr>
                <th>Tally Software Services Upgrade</th>
            </tr>
            <tr>
                <td>Pre Tally.ERP 9 Silver to TallyPrime Silver</td>
                <td>7,200</td>
                <td>648</td>
                <td>648</td>
                <td>8,496</td>
            </tr>
            <tr>
                <td>TallyPrime Silver India - TallyPrime Silver SAARC</td>
                <td>13,536</td>
                <td>1,218</td>
                <td>1,218</td>
                <td>15,972</td>
            </tr>
            <tr>
                <td>TallyPrime Silver to TallyPrime Gold</td>
                <td>36,000</td>
                <td>3,240</td>
                <td>3,240</td>
                <td>42,480</td>
            </tr>
            <tr>
                <td>Pre Tally.ERP 9 Gold to TallyPrime Gold</td>
                <td>21,600 </td>
                <td>1,944</td>
                <td>1,944</td>
                <td>25,488</td>
            </tr>
            <tr>
                <td>Pre Tally.ERP 9 Silver to TallyPrime Gold</td>
                <td>39,600</td>
                <td>3,564</td>
                <td>3,564</td>
                <td>46,728</td>
            </tr>
            <tr>
                <td>TallyPrime Gold India - TallyPrime Gold SAARC</td>
                <td>40,608</td>
                <td>3,655</td>
                <td>3,655</td>
                <td>47,917</td>
            </tr>
            <tr>
                <th>Redeemable Voucher</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Tally Software Services</td>
                <td>3,600</td>
                <td>324</td>
                <td>324</td>
                <td>4,248</td>
            </tr>
            <tr>
                <th>Value Added Services</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Tally Virtual User (1 - 4)</td>
                <td>1,200</td>
                <td>108</td>
                <td>108</td>
                <td>1,416</td>
            </tr>
            <tr>
                <td>Tally Virtual User (5 - 14)</td>
                <td>1,080</td>
                <td>97</td>
                <td>97</td>
                <td>1,274</td>
            </tr>
            <tr>
                <td>Tally Virtual User (15 - 24)</td>
                <td>1,020</td>
                <td>92</td>
                <td>92</td>
                <td>1,204</td>
            </tr>
            <tr>
                <td>Tally Virtual User (25 - 99)</td>
                <td>960</td>
                <td>86</td>
                <td>86</td>
                <td>1,133</td>
            </tr>
            <tr>
                <td>Tally Virtual User (100 - 999)</td>
                <td>900</td>
                <td>81</td>
                <td>81</td>
                <td>1,062</td>
            </tr>


        </table>
    </div>



    <%- include("footer") -%>
