<%- include("header") -%>


    <div class="container">
        <section id="vision">
            <h1 class="vision-title"><img class="card-1-img" src="images/infosoft_vision.png"> Vision</h1>
            <hr class="about-hr">
            <div class="row">
                <div class="col-lg-6"><img src="images/vision.png" class="vision" alt="our vision" width="150%"
                        height="100%"></div>
                <div class="row">
                </div>
            </div>
        </section>
    </div>


    <%- include("footer") -%>
