<%- include("header") -%>

    <div class="container">
        <img src="images/infosoft_tally_logo.jpg" alt="" class="tally-logo">

        <h3 class="indus-h3">Our Specialised Service with Tally</h3>
        <hr>
        <p style="color: #112b3c; text-align: justify;">With Tally Silver Edition (Single User)Licenses having Business with multiple 
            branches across the country and required real-time data on their server with 
            tally……. yes we Provide Data Synchronization Setup with real time 
            synchronization of all their vouchers with single click of button with tally from 
            their node(Branches)</p>

            <img src="images/tally-chart.png" style="margin-left: 20%;" width="60%" alt="">
    </div>





    <%- include("footer") -%>
