<%- include("header") -%>
    <!-- Contant -->

    <div class="container">
        <h1 class="about-title"><img class="card-1-img" src="images/group2.png">Leadership</h1>
        <hr class="about-hr">
        <div class="row">
            <div class="card leadership-card card1">
                <img src="images/Saurabh-1.jpg" alt="Saurabh Desai" data-bs-toggle="modal" class="leadership-img">
                <div class="container leadership">
                    <div class="overlap">
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#saurabhDesai"
                            style="color: #fff;">View Profile</button>
                        | &nbsp;
                        <a href="https://in.linkedin.com/in/imsaurabhdesai" target="_blank" class="icon"><i
                                class="fa-brands fa-linkedin overlap"></i></a>
                    </div>
                    <h4><b>Saurabh Desai</b></h4>
                    <p>Founder <br>Infotech Technologies</p>
                </div>
            </div>


            <div class="card leadership-card card1">
                <img src="images/Amisha_.jpg" alt="Amisha Desai" data-bs-toggle="modal" class="leadership-img">
                <div class="container leadership">
                    <div class="overlap">
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#amishaDesai"
                            style="color: #fff;">View Profile</button> | &nbsp;
                        <a href="#" target="_blank" class="icon"><i class="fa-brands fa-linkedin overlap"></i></a>
                    </div>
                    <h4><b>Amisha Desai</b></h4>
                    <p>Co-Founder <br>Infotech Technologies</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Saurabh Desai -->

    <div class="modal fade bd-example-modal-lg leadership-modal" id="saurabhDesai"
        tabindex="-1" role="dialog" ria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3"
                            style="background-color: #3b5999; margin-top: -16px; margin-left: -5px; margin-bottom: -85px; padding: 0;">
                            <img src="images/Saurabh-1.jpg" alt="Saurabh Desai" data-bs-toggle="modal"
                                class="profile-img">
                            <h4 style="color: #fff; margin-left: 25%;">Saurabh Desai</h4>
                        </div>

                        <div class="col-lg-9 leadership-p">
                            <p>Saurabh Desai Is A Serial Entrepreneur, Mentor &amp; Certified Independent Director By
                                IICA With Having
                                More Than 20+ Year Of Experience In Information Technology Industry, Having Commerce
                                Background
                                And Sound Technological Expertise Give Wings To His Techno Commercial Role With Infosoft
                                Technologies As A Visionary Leader &amp; Founder. He Has Played Key Role In Helping
                                Infosoft Become One
                                Of The Leading Company Of South Gujarat Works On Government &amp; Corporate Sector’s
                                Projects.</p>
                            <p>Infosoft Technologies Has Expanded Its Business Verticals And Partnered With Tally
                                Solution To Cater
                                Various Tally Services In 2012, Also Infosoft Technologies Has Started Business Vertical
                                Of
                                Digitisation(DMS) &amp; Cloud Services Under His Leadership In 2014</p>
                            <p> Prior To Infosoft Technologies Saurabh Was Heading Operations At SRS Software And Served
                                As
                                Technical Head In Advaita Technologies</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="https://in.linkedin.com/in/imsaurabhdesai" type="btn" class="btn btn-primary"
                        target="_blank"><i class="fa-brands fa-linkedin" style="font-size: 20px;"></i> LinkedIn
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Saurabh Desai -->

    <!-- Amisha Desai -->

    <div class="modal fade bd-example-modal-lg leadership-modal" id="amishaDesai"
        tabindex="-1" role="dialog" ria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3"
                            style="background-color: #3b5999; margin-top: -16px; margin-left: -5px; margin-bottom: -85px; padding: 0;">
                            <img src="images/Amisha_.jpg" alt="Amisha Desai" data-bs-toggle="modal" class="profile-img">
                            <h4 style="color: #fff; margin-left: 25%;">Amisha Desai</h4>
                        </div>

                        <div class="col-lg-9 leadership-p">
                            <p>Amisha Desai Is A Post Graduate In Commerce Having 15+ Year Of Experience In Finance
                                &amp;
                                Accounting,
                                She Is Heading Operations &amp; Accounts Of Infosoft Technologies, She Is Taking Care Of
                                Day
                                To Day Operations And Compliance Related To GST of the company.</p>
                            <p>Under He Best Management Practices Company Has Got Recognition Of MSME By National Small
                                Industries Corporation Also To Adhered Best Management Practices Infosoft Has Got ISO
                                9001:2015 Recognition Under Her Practices.</p>
                            <p>Prior To Infosoft Amisha Was Looking After Account Division At En-Vision Technologies
                                Pvt.
                                Ltd And Prior To That She Was Heading Finance And Account At Venus Studio.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- End Amisha Desai -->
    <!-- End Contant -->




    <%- include("footer") -%>