<%- include("header") -%>


        <!-- <h1 class="about-title" style="text-align: Center; background-color: #112B3C; color: #fff;"> Technologies</h1> -->
        <div class="tech-img" style="background-color: #97C4B8;">
        <img src="images/technology-img4.jpg" alt="" width="100%"></div>
        <img src="images/Screenshot (6).png" alt="" width="1300px" style="margin-left: 150px;">   


        <%- include("footer") -%>
