<%- include("header") -%>
    <!-- Content -->

    <h1 class="about-title">Sitemap</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="color: #000;">About Us</h1>
                <hr style="width: 50%;">
                <ul>
                    <li><a class="sitemap" href="infosoft_about.html">Company Overview</a></li>
                    <li><a class="sitemap" href="infosoft_about.html #our-team">Team</a></li>
                    <li><a class="sitemap" href="infosoft_corporate presiontation.html">corporate Presiontation</a></li>
                    <li><a class="sitemap" href="infosoft_vision.html">Vision</a></li>
                    <li><a class="sitemap" href="infosoft_achivements.html">Achivements</a></li>
                    <li><a class="sitemap" href="infosoft_leadership.html">Leadership</a></li>
                    <li><a class="sitemap" href="">Work Culture</a></li>
                </ul>

            </div>
            <div class="col-lg-6">
                <h1 style="color: #000;">What We Do</h1>
                <hr style="width: 50%;">
                <ul>
                    <li><a class="sitemap" href="">It Audit Solution</a></li>
                    <li><a class="sitemap" href="">It SKills Outsoarsing</a></li>
                    <li><a class="sitemap" href="">It Consulting</a></li>
                    <li><a class="sitemap" href="">Software Developing</a></li>
                    <li><a class="sitemap" href="">Web Developing</a></li>
                    <li><a class="sitemap" href="">Data Processing</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- End Content -->

    <%- include("footer") -%>
