<%- include("header") -%>

    <!-- Content -->


        <img src="images/infosoft_industries.jpg" class="" width="100%" height="450px">

        <div class="container">
        <h3 class="indus-h3">Our Industrial Services</h3>
        <hr>
        <div class="row">
        <div class="col-lg-4">
        <ul>
            <li class="industries-ul">Government </li>
            <li class="industries-ul">Banking & Financial Services</li>
            <li class="industries-ul">Healthcare</li>
            <li class="industries-ul">High Tech</li>
            <li class="industries-ul">Insurance</li>
            <li class="industries-ul">Manufacturing</li>
            <li class="industries-ul">Media & Information Services</li>
            <li class="industries-ul">Retail & Consumer Products</li>
            <li class="industries-ul">Telecom</li>
            <li class="industries-ul">Travel , Transportation & Hospitality</li>
        </ul>
        </div>
        <div class="col-lg-8">
            <img src="images/infosoft_industries.png" alt="">
        </div>
        </div>
    </div>

    <!-- End Content -->



    <%- include("footer") -%>
