<%- include("header") -%>
    
    <div class="container">
        <section id="company-profile">
            <h1 class="about-title"><img class="card-1-img" src="images/corporation.png"> Company Profile</h1>
            <hr class="about-hr">
            <div class="row">
                <p class="col-lg-6" style="text-align: justify;">
                    <b>INFOSOFT</b> is an ISO 9001 : 2015 Certified MSME Company Certified by National Small
                    Industries Corporation (NSIC) founded in Year 2000, Having Registered Office in Gujarat, An
                    Organization indulged in IT, BPM & Consulting Services Business and Offers Services to MSE,
                    BFSI, Corporate & Government Sector. Infosoft is Certified System Integrator of Tally.
                    Company’s Approach to cater best services to it’s client inspired management to expand It’s
                    wings into the Data Center Services like Dedicated Hosting, VPS, Shared Hosting, SSL
                    Certificates, Enterprise Email Solutions, Payment Gateways etc. with the intention to build
                    Bundle of Business Solution along with Application Development & Other IT related Services
                    to deliver complete solution to it’s client. With Domain Expertise in Digital Area, Company
                    has Won Many e-Governance Projects with State & Central Government & has empaneled
                    with Various Government Organisation and Banks as Project Implementation Agency.
                </p>
                <img src="images/infosoft_company-profile.jpg" class="col-lg-6" height="335px">
            </div>
        </section>



        <section id="our-team">
            <h1 class="about-title" style="text-align: right;">Our Team <img class="card-1-img" width="100px"
                    src="images/group.png"> </h1>
            <hr class="about-hr">
            <div class="row">
                <img src="images/team1.jpg" class="col-lg-6" style="margin-top: -70px;">
                <p class="col-lg-6" style="text-align: justify;">
                    The Strong Team Work is their behind the success of INFOSOFT. We Focus on Training &
                    Learning about New Technologies gives our team more Strength & Confidence and Ability to
                    fulfill all the aspects desired by the client. With inherent tendency for continuous
                    improvement and perfection, they become successful in its crystallization and
                    implementation and as a result of this we can be able to maximize our customer base much
                    more rapidly.
                </p>
            </div>
        </section>
    </div>
    


    <!-- End Contant -->



    <%- include("footer") -%>
