<%- include("header") -%>

    <img src="images/sap-img5.jpg" class="sap-carousel" alt="">
    <!-- Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="about-title" style="margin-top: 50px;">About SAP Roadmaps</h1>
                <hr class="about-hr">
                <p style="text-align:justify">Companies today are planning their digital journeys – transforming
                    business models, reengineering
                    business
                    processes, and reimagining work.<b> SAP road maps </b> highlight innovations that may help you plan
                    and
                    implement your digital journey. They span
                    products relevant to your business and explain how our innovations may add value to your business.
                </p>
                <p style="text-align:justify">In our road maps, you can learn about our innovations along three
                    different timelines:</p>

                <p style="text-align:justify"><b> 1. Recent innovations </b> for our products that have been launched in
                    the past weeks or months
                    and can
                    already be purchased.</p>
                <p style="text-align:justify"><b> 2. Planned innovations </b> for our products that are intended to be
                    launched in the short term
                    or
                    midterm.</p>
                <p style="text-align:justify"><b>3. Product direction </b> , providing a long-term perspective on
                    high-level development plans for
                    innovations for
                    our solutions – inspired by your requirements.</p>

                <h1 class="about-title">SAP Business One<h4><a href="documentation/SAP Brochure.pdf" target="_blank"> (Download Brochure)</a></h4>
                </h1>
                <hr class="about-hr">

                <p style="text-align:justify">This complete business management solution streamlines all key
                    processes – from accounting and CRM to supply chain management
                    and purchasing.</p>
                <li style="text-align:justify">Gives greater control over SME or subsidiary businesses in a single,
                    scalable system.</li>
                <li style="text-align:justify">Takes advantage of the SAP HANA platform and provides integrated
                    business intelligence.</li>
                <li style="text-align:justify">Offers choice and lets customers benefit from the respective advantages;
                    can be quickly deployed on premise, in a private or public cloud hosted by a
                    partner or SAP.</li>
                <li style="text-align:justify">Is trusted by more than 60,000 companies in more than 170 countries.</li>
                <hr>

            </div>
            <div class="col-lg-5">
                <img src="images/IMG-20211028-WA0006.jpg" width="100%" style="margin-top: 15%;" alt="">
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-6">
                    <img src="images/sap-img1.png" style="width: 100%;" alt="">
                </div>

                <div class="col-lg-6">
                    <img src="images/flyer2.png" style="width: 90%; " alt="">
                </div>
            </div>
        </div>
        <hr>
    </div>

    <!-- End Contant -->
    <%- include("footer") -%>
