<%- include("header") -%>

    <!-- Contant -->

    <div class="container">
        <h1 class="about-title">Contact Us</h1>
        <hr class="contactus-hr">

        <div class="row">
            <div class="col-lg-6">

                <h5 class="contact-h5">Address : </h5>
                <p class="contact-p">infosoft Technologies <br> C/30, 1st Floor, Kishor Park Society, Behind St.Xavier's High School, Ghod
                    Dod Road, Surat - 395001, Gujarat , India.</p>

                <h5 class="contact-h5">Location :</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7441.119222772497!2d72.81063630570343!3d21.169917214585496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e7a3381d1c1%3A0x7d5a48637d22afa0!2sInfosoft%20Technologies!5e0!3m2!1sen!2sin!4v1652703917727!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                <div class="col-lg-6">

                <form action="mailto:info@infosofttechnologies.co" class="contact-form" method="post" enctype="text/plain">
                    <label> Name : </label> <input type="name" class="form-control" name="name" required> <br>
                    <label> Mobile No. : </label><input type="mo-no" class="form-control" name="mo-no" required> <br>
                    <label>E-Mail : </label><input type="email" class="form-control" name="email"  required> <br>
                    <label>Subject : </label><input type="subject" class="form-control" name="subject" required> <br>
                    <label>Message : </label><textarea class="form-control" name="message" rows="5" required></textarea><br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <!-- End Contant -->






    <%- include("footer") -%>
